<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tonikamitv.loginregister">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/op"
        android:label="Ecommerce"
        android:theme="@style/AppTheme">

        <meta-data android:name="DATABASE" android:value="sodiq_example1.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.tonikamitv" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" />
        <activity
            android:name="com.tonikamitv.page.Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.tonikamitv.page.Main2Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.tonikamitv.page.cart_page"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>
